@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items:center;
    background: -webkit-linear-gradient(left,#003366,#004080,#0059b3,#0073e6);
}
.main{ 
    overflow: hidden;
    max-width: 390px;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0,1)
}
::selection{
    overflow: hidden;
    max-width: 390px;
    background: rgb(172, 212, 248);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0,1)
}

.main .title-text{
    display: flex;
    width: 200%;
}
.main .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.main .slider{
    position:relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
}
.slider .login{
     height: 100%;
     width: 100%;
     color: #fff;
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     line-height: 48px;
     cursor: pointer;
     z-index: 1;
     transition: all 0.6s ease;
} 
.slider .signup{
     color: rgb(255, 0, 0);
}
.slider .slide-tab{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(left,#003366,#004080,#0059b3,#0073e6);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
input[type="radio"]{
    display: none;
}
#SignUP:checked~.slide-tab{
    left: 50%;
}
#SignUp:checked~label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
}
#SignUp:checked~label.login{
    color: #000;
}
#login:checked~label.signup{
    color: #000;
}
#login:checked~label.login{
    cursor: default;
    user-select: none;
}
.main .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container form .form-inner {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form.field{
    height: 50%;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    
}