@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Barlow Condensed', sans-serif;
}
html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}
.main {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 90%;
    width: 90%;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(128, 159, 172, 0.246);
    border-width: 1px;
}
.headng{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color: #ffffff;
    letter-spacing: 0.1rem
}
.rptBtn, .setBtn{
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    margin-left: 50px;
}
.reports{
    margin-top: 30px;
}
#allMembers, #calender{
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 90%;
}
.selection{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
hr{
    margin-top: 10px;
    margin-bottom: 15px;
    opacity: 30%;
}
#u1, #u2{
    color: white;
    font-size: large;
}
.quesAns{
    background: -webkit-linear-gradient(left, #cecece, #e0e0e0, #e0e0e0, #cecece);
    padding-left: 2%;
    border-radius: 5px;
    margin: 20px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    overflow: auto;
}